body {
  background-color: #000000; /* Snapchat black background color */
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: rgb(0, 0, 0); /* Text color */
}

.snapchat-login {
  width: 80%;
  max-width: 350px;
  background-color: #FFF; /* Snapchat white background color */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px; /* Add rounded corners to the login box */
}

img {
  width: 100%;
  max-width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  font-style: initial;
}

.c1 {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background-color: #ECECEC; /* Input field background color */
  border: none;
  outline: none;
  padding: 5px; /* Add some padding for better aesthetics */
  margin-bottom: 10px; /* Increase bottom margin for better spacing */
}

label {
  display: block; /* Make labels block-level for proper spacing */
  text-align: left; /* Align labels to the left */
  margin-bottom: 5px; /* Add some bottom margin for better spacing */
}

.c2 {
  padding-top: 20px;
}

span {
  display: block; /* Make the span block-level for proper spacing */
  margin-top: 10px; /* Add top margin for better spacing */
    display: block;
  height: 2px;
  background-color: yellow;
  margin: 10px auto; /* adjust margin as needed */
  width: 100%; /* adjust width as needed */
}

.btn {
  width: 100%;
  max-width: 200px; /* Increase max-width for better responsiveness */
  height: 40px;
  background-color: #FFFC00; /* Snapchat yellow background color */
  border: none;
  border-radius: 30px;
  margin: 20px auto 0;
  color: #000000; /* Button text color */
}

a {
  color: #1CA0F2; /* Snapchat blue color for links */
  text-decoration: none; /* Remove underline from links */
}

@media (max-width: 768px) {
  .snapchat-login {
    width: 90%;
    max-width: none;
  }
}
